:root {
  --primary-color: rgba(242, 138, 178, 0.8);
  --focus-color: rgba(236, 102, 154, 0.8);
}

.button {
  font: inherit;
  border: 1px solid var(--primary-color);
  background: var(--primary-color);
  color: white;
  padding: 0.75rem 3.5rem;
  cursor: pointer;
  font-size: 1.15rem;
  border-radius: 30px;
}

.button:hover,
.button:active {
  background: var(--focus-color);
  border-color: var(--focus-color);
}

.button:focus {
  outline: none;
}

button:disabled,
button:focus:disabled,
button:hover:disabled,
button:active:disabled {
  background: #ccc;
  border-color: #ccc;
  color: #666666;
  cursor: not-allowed;
}
