.questionCard {
  width: 45vw;
  height: auto;
  margin: 30px 30px;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.3);
  background-color: white;
}

.title {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.info {
}
